<div class="container">
  <h1>
    Le super profile de <%= "#{@current_customer.first_name} #{@current_customer.last_name}" %>
  </h1>
  <p>Prénom : <%= @current_customer.first_name %></p>
  <p>Nom : <%= @current_customer.last_name %></p>
  <p>Email : <%= @current_customer.email %></p>
  <p>Adresse : <%= @current_customer.address %></p>
  <p>Téléphone: <%= @current_customer.phone %></p>
</div>